@inherits RoomModel;

<h3>@CurrentRoom.Name</h3>
<b>Flor:</b><p>@CurrentRoom.Floor</p>
<b>Description:</b><p>@CurrentRoom.Description</p>

<table class="table">
    <tbody>
        @foreach (var bookInfo in bookService.GetRoomBooks(@Date, @RoomId))
        {
            <tr>
                <div class="border">
                    <h4>Subject: @bookInfo.Subject</h4>
                    Time: @bookInfo.StartTime.ToString("HH:MM", Culture) - @bookInfo.EndTime.ToString("HH:MM", Culture)
                    Owner: @bookInfo.CreatedBy
                </div>
                <br />
            </tr>
        }
    </tbody>
</table>

